body {
  font-size: 8px;
}

h1, h2, h3, h4, h5 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}

div, p, a {
  font-size: 1rem;
  margin: 0;
}

.container-app {
  margin-top: 60px;
  margin-bottom: 20px;
}

.body-section {
  display: flex;

  max-width: 1024px;
  margin: auto;
  padding-top: 20px;

  flex-flow: row wrap;
}

.body-section > * {
  flex: 1 100%;
}

.half {
  /* width: 50%;
  box-sizing: border-box; */

  flex: 1 50%;
}

.quarter {
  flex: 1 25%;
  
  display: inline-block;
  width: 25%;
  box-sizing: border-box;  
}

.padings {
  padding: 15px;
}