footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    width: 100%;

    padding-top: 15px;
    padding-bottom: 15px;
    
    color: black;

    background: #7a00ff;
    background: -moz-linear-gradient(left, #7a00ff 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(left, #7a00ff 0%,#7db9e8 100%);
    background: linear-gradient(to right, #7a00ff 0%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a00ff', endColorstr='#7db9e8',GradientType=1 );
}

footer.white-txt {
    color: white;
}